<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Ruby on Rails development, ecommerce design | Magma Labs</title>
  <link rel="stylesheet" type="text/css" href="/magma/Css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/magma/js/main.js"></script>
  


</head>

<body>
  <!--Encabezado de la pagina-->
  <header>
    <div class="hero-image col-md-12 col-md-offset-12"> 

    
    

      <nav class="menu"style="padding-top:2px;">
          <ul>
            <li style="float:left;"><img src="/magma/Images/logo.png" width="300px"></li>
            <li><a  class="contact_us seleccion "href="">CONTACT US</a></li>
            <li><p id="panel"></p> <a class="active seleccion seleccionado" id="service" href="#home">BLOG</a></li>
            <li><p id="panel"></p><a class="seleccion" href="#news">ABOUT US</a></li>
            <li><a class="seleccion"href="#contact">CASE STUDIES</a></li>
            <div class="dropdown">
              <li><a class="seleccion dropdown-toggle" data-toggle="dropdown" href="#about">OUR SERVICES</a></li>
                 <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Link 1</a>
                      <a class="dropdown-item" href="#">Link 2</a>
                      <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
          </ul>


      </nav>
<br>




   
    </header> 
  </div>

<div class="hero-text">
    <h1>MagmaLabs builds tailored software solutions to help companies execute their vision.</h1>
    <p style="color:white; padding: 20px; font-size: 20px;">With loyal teams achieving quick turn-around.</p>
 
    <ul class="lista">
      <li >Ruby On Rails&nbsp;&nbsp;&nbsp; </li> 
      <li > React&nbsp;&nbsp;&nbsp;</li> 
      <li > React Native&nbsp;&nbsp;&nbsp;</li> 
      <li> Solidus&nbsp;&nbsp;&nbsp;</li> 
      <li> UX desing&nbsp;&nbsp;&nbsp;</li> 
    </ul>


  
  
      
</div>


<br><br>
<!--SECCION 2 PAGINA DE MAGMA-->
 <section style="padding-bottom: 50px;"><h3 style="font-family: Lato,sans-serif; text-align: center;">Exceptional digital products</h3>
  <br>
    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <img src="/magma/Images/web_development.png" width="100%">
            <h6 style="text-align: center;">Web development</h6>
            <p style="text-align: center;">
              Effective and attractive web apps developed using cutting-edge technologies and techniques.
            </p>
          <br>
            <center><a href="" style="color:#f84848;">LEARN MORE</a></center>        
          </div>
          <div class="col-md-3" style="top:-5px;">
              <img src="/magma/Images/ecommerce.png" width="100%">
              <h6 style="text-align: center;">Ecommerce solutions</h6>
              <p style="text-align: center;">Strategies designed to boost your ecommerce sales with top-notch technology.</p>
              <br>
              <center><a href="" style="color:#f84848;">LEARN MORE</a></center>
          </div>
          <div class="col-md-3">
              <img src="/magma/Images/mobile.png" width="250px">
              <h6 style="text-align: center;">Mobile development</h6>
              <p style="text-align: center;">High-performance mobile apps that connect brands with customers.</p><br>
              <br><center><a href="" style="color:#f84848; text-align: center;">LEARN MORE</a></center> 
          </div>
          <div class="col-md-3" style="top:-15px;">
              <img src="/magma/Images/ui.png" width="86%">
              <h6 style="text-align: center;">UX/UI design</h6>
              <p style="text-align: center;">Engaging customer experiences through innovative and beautiful digital products.</p><br>
              <center><a href="" style="color:#f84848;">LEARN MORE</a></center>
          </div>
      </div>
  </div>

 </section>

<!--SECCION 3 DE PAGINA WEB DE MAGMA-->
 <section style="background-color: #f6f6f6; padding-bottom: 200px;">
   
<br><br>
  <h3 style="font-family: Lato,sans-serif; text-align: center;">From concept to solution</h3><br>
  <center><img src="/magma/Images/seccion_3_imagen1.png"></center><br>
  <p style=" margin-left: 15%; line-height: 1.75em; width:70%; text-align: center;">
        With the help of Agile methodologies and multidisciplinary teams, MagmaLabs ensures
        the quality of product development and sustainable work-pace oriented to give the best
        value to our customers. We use modern tools to help continuous communication,
        task organization, and weekly iterations of focused work.
  </p>
<br>
    <h6 style="text-align: center;">Our product development process</h6><br>
    <center><img src="/magma/Images/seccion_3_imagen2.png" width="900px"></center>
    <center><button style="background-color: #f84848; border: 2px solid #f84848; color:white; font-size: 16px; width: 15%;">CONTACT AN EXPERT</button></center>



 </section>


</body>

</html>